@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #fdfdfc;
  font-family: "Roboto", sans-serif;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14rem;
  width: 26vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
  width: 26vw;
}

p {
  margin: 0;
}

a {
  color: black;
  opacity: 0.75;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.name {
  font-size: 1.1rem;
  font-weight: 450;
}

.profession {
  font-size: 1.1rem;
  font-weight: 450;
  opacity: 0.65;
}

h1 {
  font-family: "Bitcount Prop Single Ink", system-ui;
}

.today {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.bio {
  opacity: 0.75;
  line-height: 1.75rem;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
